# Database
duckdb

# API
requests

# Data processing
pandas
numpy
pyarrow

# Visualization
matplotlib
seaborn
missingno

# Statistics
scipy
statsmodels

# Machine learning
scikit-learn
xgboost

# Notebook
notebook
ipykernel

# Date utilities
python-dateutil